@font-face {
    font-family: "DIN Alternate";
    src: url("/fonts/din-alternate-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "DIN Condensed";
    src: url("/fonts/din-condensed-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Bitter";
    src: url("/fonts/bitter-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
